 .actualite1 {
     background-image: linear-gradient(to top, #f8f8f8c7 0%, #e8e7e7 100%);
     padding-bottom: 25px
 }
 
 .actualite1 .social {
     transform: rotate(-90deg);
     display: flex;
     margin-left: -175px
 }
 
 .actualite1 .social a {
     color: #686868;
     text-decoration: none;
     margin-right: 50px;
     font-size: 17px;
 }
 
 .actualite1 .row {
     align-items: center
 }
 
 .actualite1 .swivre-actualite .read-more {
     margin: 30px 0px
 }
 
 .actualite1 .swivre-actualite .read-more a {
     background: #EEC400;
     padding: 12px 32px;
     border-radius: 9px;
     color: #fff;
     font-size: 17px;
     text-decoration: none;
 }
 
 .actualite1 h2 {
     color: #404040;
     font-weight: 600;
     line-height: 1.3
 }
 
 .actualite1 span {
     color: #EEC400;
     font-weight: 600
 }
 
 .actualite1 p {
     color: #747F92;
     font-size: 16px;
     font-weight: 600
 }
 
 .actualite1 .masque {
     margin-top: 40px;
     text-align: center
 }
 
 .actualite1 .masque img {
     width: 60%
 }
 
 .owl-carousel .owl-item img {
     width: 50%
 }
 
 .actualite1 .owl-carousel .owl-nav button.owl-prev i,
 .actualite1 .owl-carousel .owl-nav button.owl-next i {
     font-size: 30px;
     padding: 5px 12px 5px 15px;
     border-radius: 50%;
     background: #fff;
     color: #686868;
     box-shadow: -1px 3px 4px -2px #6e6e6e;
     transition: 0.2s all
 }
 
 .actualite1 .owl-carousel .owl-nav button.owl-prev i:active,
 .actualite1 .owl-carousel .owl-nav button.owl-next i:active,
 .actualite1 .owl-carousel .owl-nav button.owl-prev i:hover,
 .actualite1 .owl-carousel .owl-nav button.owl-next i:hover {
     background: #EEC400;
     color: #fff;
 }
 
 .actualite1 .owl-carousel .owl-nav button.owl-prev {
     margin-right: 15px
 }
 
 .actualite1 .owl-carousel .owl-nav {
     position: absolute;
     top: 48px;
     left: -111px;
 }
 
 .actualite1 .scroll {
     width: 87px;
     position: absolute;
     top: 26%;
     RIGHT: -46px;
     cursor: pointer;
 }
 
 .actualite1 .scroll p {
     font-weight: 550;
     font-size: 17px;
     color: #686868;
 }
 
 .actualite1 .scroll,
 .actualite1 .scroll p:before {
     transform: rotate(-90deg);
 }
 
 .actualite1 .scroll p:before {
     content: url("../img/line-scroll.png");
     position: absolute;
     bottom: -17px;
     left: -69%;
     margin-left: 6px;
 }
 
 .nos-acualite {
     margin-top: 35px
 }
 
 .nos-acualite .container .SKILLED {
     width: 55%;
     margin: auto;
     text-align: center
 }
 
 .nos-acualite .container .SKILLED h4 {
     font-size: 20px;
     font-weight: 550;
     color: #404040
 }
 
 .nos-acualite .container .SKILLED h4:before,
 .nos-acualite .container .SKILLED h4:after {
     content: url('../img/line-gris.png');
     position: absolute;
     margin-left: 6px;
     top: 12px;
     left: 21%;
 }
 
 .nos-acualite .container .SKILLED h4:after {
     right: -21%;
 }
 
 .nos-acualite .container .SKILLED h3 {
     font-size: 32px;
     font-weight: 600;
     transform: scale(1.2);
 }
 
 .nos-acualite .container .SKILLED h3 span {
     color: #EEC400
 }
 
 .nos-acualite .container .SKILLED p {
     font-size: 17px;
     color: #AEAEAE;
     line-height: 1.3
 }
 
 .summer {
     margin: 50px
 }
 
 .summer .line-jaune img {
     height: 650px
 }
 
 .summer h5 {
     color: #333333;
     font-size: 17px;
     font-weight: 600;
 }
 
 .summer p {
     color: #777777;
     font-size: 17px;
     margin-bottom: 24px;
     line-height: 1.2
 }
 
 .summer span,
 .summer a {
     color: #777777;
     font-size: 13px;
     text-decoration: none;
     font-weight: 600
 }
 
 .summer .skip {
     margin-top: 11px
 }
 
 .summer .tracteur {
     margin-top: 145px
 }
 
 .summer .tracteur1 {
     margin-top: 155px
 }
 
 .summer .lave-main {
     margin-top: 145px
 }
 
 .summer .line-jaune {
     margin-top: -27px
 }
 
 .summer .voir-plus {
     margin-top: 50px;
     margin-bottom: 50px
 }
 
 .summer .voir-plus a {
     background: #EEC400;
     padding: 12px 58px;
     border-radius: 9px;
     color: #fff;
     font-size: 17px;
     text-decoration: none;
 }
 
 .summer .container .hills {
     box-shadow: 1px 2px 11px 0px #aba7a7;
     border-radius: 16px;
     align-items: center
 }
 
 .CONSEIL {
     background-image: linear-gradient(120deg, #cfcece6b 0%, #e4e4e1bf 100%);
     padding: 35px 0px 57px
 }
 
 .CONSEIL .BUILDER {
     margin: 15px auto;
     width: 60%;
     text-align: center
 }
 
 .CONSEIL .BUILDER p {
     color: #000;
     font-size: 24px;
     font-weight: 600;
     margin-bottom: 5px;
 }
 
 .CONSEIL .BUILDER .STRUC {
     color: #EEC400;
     font-size: 24px;
     font-weight: 600;
 }
 
 .CONSEIL .BUILDER h6 {
     color: #404040;
     font-size: 20px;
 }
 
 .CONSEIL .CONSEIL-pros {
     border: 1px solid #CECFD1;
     padding: 30px 30px;
     margin-left: 15px;
     margin-right: 15px;
     border-radius: 5px
 }
 
 .CONSEIL .CONSEIL-1 {
     margin-left: -38px
 }
 
 .CONSEIL .row {
     margin-left: 5%;
 }
 
 .CONSEIL .CONSEIL-pros p,
 .CONSEIL .CONSEIL-pros a {
     text-decoration: none;
     color: #404040;
     font-size: 20px;
     font-weight: 600;
     margin-top: 20px;
 }
 
 .CONSEIL .CONSEIL-pros span {
     color: #626262;
     font-weight: 550;
     font-size: 17px
 }
 
 .CONSEIL .CONSEIL-pros .READ {
     margin-top: 14px
 }
 
 .store {
     padding: 50px 0
 }
 
 .store .row {
     align-items: center;
 }
 
 .store .application span {
     color: #EEC400;
 }
 
 .store .application h6 {
     color: #232323;
     font-size: 25px;
     font-weight: bold;
 }
 
 .store .application p {
     color: #747F92;
     font-size: 17px;
     line-height: 1.2
 }
 
 .store .application-ios {
     margin-top: 30px;
 }
 
 .store .application .application-ios p {
     font-size: 25px;
     color: #747F92;
     font-weight: 600;
     margin-bottom: 23px;
 }
 
 .store .code-img p {
     font-size: 14px;
     font-weight: 550;
     color: #747F92;
     line-height: 1.08;
     font-weight: 550
 }
 
 .store .code-img {
     text-align: center;
     margin-left: 35px;
 }
 
 .conseil-background {
     background: #EEC400;
 }
 
 .animated {
     animation-duration: 2s;
     animation-delay: 0.25s
 }
 
 .wow {
     animation-delay: 0.25s;
     animation-duration: 2s
 }