                    @media screen and (min-width:1700px) {
                        .actualite1 .social a {
                            font-size: 21px;
                        }
                        .actualite1 h2 {
                            font-size: 38px;
                            line-height: 1.5
                        }
                        .actualite1 .swivre-actualite .read-more a {
                            font-size: 22px;
                            padding: 12px 50px
                        }
                        .actualite1 .owl-carousel .owl-nav button.owl-prev i,
                        .actualite1 .owl-carousel .owl-nav button.owl-next i {
                            padding: 15px 21px 15px 21px
                        }
                        .actualite1 .owl-carousel .owl-nav {
                            top: 177px;
                            left: -134px;
                        }
                        .summer h5 {
                            font-size: 21px;
                        }
                        .summer p {
                            font-size: 19px
                        }
                        .summer span,
                        .summer a {
                            font-size: 16px
                        }
                        .nos-acualite .container .SKILLED h4 {
                            font-size: 30px
                        }
                        .nos-acualite .container .SKILLED h4:before,
                        .nos-acualite .container .SKILLED h4:after {
                            top: 17px;
                            left: 24%;
                        }
                        .nos-acualite .container .SKILLED h4:after {
                            right: -18%
                        }
                        .nos-acualite .container .SKILLED h3 {
                            margin: 20px 0
                        }
                        .nos-acualite .container .SKILLED p {
                            font-size: 21px;
                        }
                        .summer .voir-plus a {
                            font-size: 20px
                        }
                    }
                    
                    @media screen and (max-width:768px) {
                        .actualite1 h2 {
                            font-size: 25px;
                        }
                        .actualite1 .swivre-actualite .read-more a {
                            font-size: 16px;
                        }
                        .actualite1 .swivre-actualite .read-more {
                            text-align: center
                        }
                        .actualite1 .social {
                            display: none
                        }
                        .actualite1 .swivre-actualite {
                            margin-top: 50px;
                            text-align: center
                        }
                        .actualite1 .masque img {
                            width: 100%
                        }
                        .actualite1 .scroll {
                            right: -41px;
                            top: 0
                        }
                        .actualite1 .owl-carousel .owl-nav {
                            position: static;
                            text-align: center
                        }
                        .actualite1 .masque {
                            margin-top: 20px
                        }
                        .nos-acualite .container .SKILLED h4 {
                            font-size: 18px;
                        }
                        .nos-acualite .container .SKILLED h4::before,
                        .nos-acualite .container .SKILLED h4::after {
                            content: ''
                        }
                        .nos-acualite .container .SKILLED h3 {
                            font-size: 25px;
                        }
                        .nos-acualite .container .SKILLED {
                            width: 80%;
                        }
                        .nos-acualite .container .SKILLED p {
                            margin-top: 15px
                        }
                        .summer {
                            margin: 10px
                        }
                        .owl-carousel .owl-item img {
                            width: 100%;
                        }
                        .summer h5 {
                            padding: 21px 0 0px
                        }
                        .summer span,
                        .summer a {
                            font-size: 15px;
                        }
                        .summer .container .row .row {
                            margin: 20px 0
                        }
                        .summer .container .row .row .col-lg-4 {
                            padding: 0
                        }
                        .summer .container .hills {
                            margin-top: 30px !important;
                        }
                        .summer .line-jaune {
                            display: none
                        }
                    }
                    
                    @media screen and (max-width:576px) {
                        .summer .container .hills img {
                            width: 100%;
                            height: 19%;
                            object-fit: fill;
                        }
                        .summer .container .hills .pl-0 {
                            padding-right: 0
                        }
                    }
                    
                    @media (min-width:768px) and (max-width:991px) {
                        .actualite1 .social {
                            position: absolute;
                            top: 350px;
                            left: 53px;
                        }
                        .actualite1 h2 {
                            text-align: center
                        }
                        .actualite1 .swivre-actualite {
                            margin-top: 50px
                        }
                        .actualite1 .swivre-actualite .read-more {
                            text-align: center;
                            margin-top: 50px
                        }
                        .actualite1 .scroll {
                            top: 7%
                        }
                        .actualite1 .masque {
                            margin-top: 17px;
                        }
                        .owl-carousel .owl-item img {
                            width: 100%
                        }
                        .actualite1 .owl-carousel .owl-nav {
                            position: static;
                            text-align: center
                        }
                        .nos-acualite .container .SKILLED {
                            width: 80%
                        }
                        .nos-acualite .container .SKILLED p {
                            font-size: 18px
                        }
                        .summer .tracteur,
                        .summer .tracteur1,
                        .summer .lave-main {
                            margin-top: 50px
                        }
                        .summer h5 {
                            font-size: 20px;
                        }
                        .summer p {
                            font-size: 20px
                        }
                        .summer span,
                        .summer a {
                            font-size: 17px
                        }
                    }
                    
                    @media (min-width:992px) and (max-width:1200px) {
                        .actualite1 h2 {
                            line-height: 1.4;
                            font-size: 22px;
                        }
                        .actualite1 .masque img {
                            width: 50%
                        }
                        .owl-carousel .owl-item img {
                            width: 55%
                        }
                        .actualite1 .social {
                            margin-top: 140px;
                            margin-left: -80px;
                        }
                        .actualite1 .owl-carousel .owl-nav {
                            position: absolute;
                            top: 90px;
                            left: -121px;
                        }
                        .actualite1 .masque {
                            margin: 30px 0
                        }
                        .nos-acualite .container .SKILLED {
                            width: 60%
                        }
                        .nos-acualite .container .SKILLED h4:before {
                            left: 15%;
                        }
                        .nos-acualite .container .SKILLED h4:after {
                            right: -32%
                        }
                        .actualite1 .swivre-actualite .read-more a {
                            font-size: 14px
                        }
                        .nos-acualite .container .SKILLED p {
                            font-size: 20px
                        }
                        .actualite1 .social a {
                            font-size: 16px;
                        }
                        .summer p {
                            margin-bottom: 7px
                        }
                        .summer span,
                        .summer a {
                            font-size: 14px;
                        }
                        .summer .container .hills img {
                            height: 20%;
                            object-fit: fill
                        }
                        .actualite1 .owl-carousel .owl-nav button.owl-prev i,
                        .actualite1 .owl-carousel .owl-nav button.owl-next i {
                            font-size: 20px
                        }
                    }
                    @media (min-width:1201px) and (max-width:1600px) {
                        .actualite1 .social{
                            margin-left: -100px;
                            margin-top: 95px;
                        }
                        .owl-carousel .owl-item img {

                            width: 67%;
                        }





                    }
