                @media(min-width:1600px) {
                    .store .application h6,
                    .demande-devis h2 {
                        font-size: 40px;
                    }
                    .store .application p {
                        font-size: 24px;
                    }
                    .store .row {
                        align-items: center;
                    }
                    .store .code-img p,
                    .demande-devis p,
                    .demande-devis label,
                    .demande-devis input,
                    .demande-devis select,
                    .demande-devis textarea {
                        font-size: 20px;
                    }
                    .demande-devis label,
                    .demande-devis input,
                    .demande-devis select,
                    .demande-devis textarea,
                    .demande-devis .Submit,
                    .demande-devis .annuler {
                        font-size: 18px
                    }
                    .demande-devis label,
                    .demande-devis input,
                    .demande-devis select {
                        padding: 27px 12px;
                    }
                    .demande-devis label {
                        padding: 38px 0 0
                    }
                    .equipe .protection .PROTECT {
                        font-size: 24px;
                    }
                    .equipe .meilleur-equipe p {
                        font-size: 40px;
                    }
                    .equipe .demandez a {
                        font-size: 18px;
                    }
                    .equipe .protection {
                        margin-top: 95px
                    }
                    .equipe .protection .demandez {
                        margin-top: 75px
                    }
                    .equipe .protection .increment {
                        margin: 54px 58px;
                    }
                    .equipe .meilleur-equipe p {
                        font-size: 41px;
                    }
                    .equipe .demandez a {
                        font-size: 18px;
                    }
                    .equipe .carousel-caption h5,
                    .equipe .protection .PROTECT {
                        font-size: 24px;
                    }
                    .equipe .protection .demandez {
                        margin-top: 66px;
                    }
                    .equipe .bd-example .carousel-caption {
                        margin-top: 20px;
                    }
                    .equipe .carousel-caption {
                        bottom: -24px;
                    }
                    .equipe .carousel-control-prev,
                    .equipe .carousel-control-next {
                        top: 82%
                    }
                    .equipe .protection .increment {
                        margin: 10px 77px
                    }
                    .equipe .carousel-control-next {
                        right: 66%;
                    }
                }
                
                @media screen and (max-width:786px) {
                    .demande-devis .type-user {
                        padding-right: 0 !important
                    }
                    .demande-devis .type-user::after {
                        margin-right: 0 !important
                    }
                    .demande-devis .form-row .pr-5 {
                        padding-right: 0 !important
                    }
                    .demande-devis label {
                        margin-top: 30px;
                    }
                    .demande-devis .code-postal::after {
                        margin-right: 0 !important
                    }
                    .demande-devis label,
                    .demande-devis input,
                    .demande-devis select,
                    .demande-devis .drag {
                        font-size: 15px;
                    }
                    .demande-devis .browse-file a {
                        font-size: 15px;
                    }
                    .btn-annuler {
                        text-align: center;
                    }
                    .demande-devis .annuler {
                        padding: 12px 55px;
                    }
                    .modal2 .modal-content {
                        width: 90%
                    }
                    .OFFICE {
                        text-align: center;
                        margin: 20px 0
                    }
                    .carousel-item {
                        height: 250px
                    }
                }
                
                @media screen and (max-width:991px) {
                    .demande-devis .row {
                        text-align: center
                    }
                    .demande-devis select {
                        height: 47px !important;
                    }
                    .demande-devis input,
                    .demande-devis select {
                        padding: 23px 14px;
                    }
                    .equipe .carousel-control-prev {
                        LEFT: 22%;
                    }
                    .equipe .carousel-control-next {
                        right: 22%
                    }
                    .equipe .row {
                        flex-direction: column-reverse
                    }
                    .equipe .meilleur-equipe p {
                        font-size: 17px;
                        line-height: 1.3
                    }
                    .equipe .protection {
                        text-align: center
                    }
                    .equipe .demandez a {
                        font-size: 13px
                    }
                    .equipe .w-100 {
                        height: 42%;
                    }
                    .equipe .carousel-indicators {
                        left: -22%
                    }
                }
                
                @media (min-width:787px) and (max-width:991px) {
                    .demande-devis .form-row .pr-5 {
                        padding-right: 0 !important
                    }
                    .demande-devis .type-user::after,
                    .demande-devis .code-postal::after {
                        margin-right: 0px !important
                    }
                    .demande-devis label {
                        margin-top: 25px;
                    }
                    .demande-devis p {
                        line-height: 1.4;
                        font-size: 18px;
                    }
                    .demande-devis .drag {
                        font-size: 16px;
                    }
                    .demande-devis .browse-file a {
                        font-size: 16px;
                    }
                    .btn-annuler {
                        text-align: center;
                    }
                    header .ivoire img {
                        width: 23%;
                    }
                    header .logo-cons img {
                        width: 62%
                    }
                    .modal2 .modal-content {
                        width: 60%
                    }
                }
                
                @media (min-width:991px) and (max-width:1265px) {
                    .demande-devis select {
                        height: 35px !important
                    }
                    .demande-devis .type-user::after {
                        bottom: 0px;
                        padding: 8px 21px
                    }
                    .demande-devis .code-postal::after {
                        font-size: 15px;
                        padding: 6px 21px
                    }
                    .demande-devis label,
                    .demande-devis input,
                    .demande-devis select {
                        font-size: 15px
                    }
                    .demande-devis label {
                        margin-top: 17px
                    }
                    .modal2 .modal-content {
                        width: 53%;
                    }
                }
                
                @media (min-width:1266px) and (max-width:1600px) {
                    .demande-devis select {
                        height: 37px !important
                    }
                    .modal2 .modal-content {
                        width: 45%
                    }
                    .demande-devis .type-user::after {
                        bottom: -8px;
                        right: -8px;
                    }
                    .demande-devis label {
                        margin-top: 20px;
                    }
                    .equipe .w-100 {
                        height: 79%;
                    }
                    .equipe .carousel-caption {
                        bottom: -20px
                    }
                    .equipe .carousel-control-next {
                        right: 56%;
                    }
                }
                
                @media (min-width:1500px) and (max-width:1700px) {
                    .equipe .carousel-control-next {
                        right: 60% !important;
                    }
                }